.help {
    min-height: 970px;
    background-color: #fff;
    &__content {
        padding-top: 283px;
    }
    &__questions {
        padding-top: 208px;
        &-item {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            max-width: 570px;
            background: none;
            border: none;
            p {
                font-family: 'Rubik';
                font-weight: 400;
                font-size: 22px;
                line-height: 26px;
                /* identical to box height */
                color: #0f0d0d;
            }
        }
        &-divider {
            width: 555px;
            height: 1.5px;
            background: #000000;
            margin-top: 25px;
            margin-bottom: 20px;
        }
        &-answer {
            margin-top: 20px;
            max-width: 500px;
            font-family: 'Rubik';
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            /* identical to box height */
            color: #0f0d0d;
            max-height: 0;
            overflow: hidden;
            transition: max-height .2s ease-out;
        }
    }
}
